## Adding a neighborhood name (like Germantown, Downtown, East Nashville, etc.) to each zip code

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Reading in primary file I'm using in Tableau
# Adding the new 'area_names' column, then will overwrite the cleaned file with the new file
# I manually created the area_names df, based on information found on the internet from a few sources

df_all = pd.read_csv('../data/cleaned_2/all_apps_and_issued.csv')
print(type(df_all))
df_all.head(1)

<class 'pandas.core.frame.DataFrame'>

,neighborhood,permit_number,permit_type_descr,permit_subtype_descr,parcel,date_entered,date_issued,construction_cost,address,city,...,permit_subtype,ivr_tracking_number,purpose,council_district,residential_commercial,type_subtype,lat,lon,geometry,applic_issued
0,Urban Residents,T2017035948,Building Use & Occupancy,"Tents, Stages",9306406200,6/1/2017,NaN,2000.0,1 SYMPHONY PL,NASHVILLE,...,CAZ06A001,3371589,"(2) 40x80 tents, staked. No sidewall. Going up...",19.0,Other,"TYPE: Building Use & Occupancy SUBTYPE: Tents,...",36.160351,-86.775582,POINT (-86.775582 36.160351),Application

In [3]:
df_area_names = pd.read_csv('../data/cleaned_2/area_names.csv')
df_area_names.head(1)

     zip area_name
0  37013   Antioch

In [4]:
df_all.dtypes

neighborhood               object
permit_number              object
permit_type_descr          object
permit_subtype_descr       object
parcel                     object
date_entered               object
date_issued                object
construction_cost         float64
address                    object
city                       object
state                      object
zip                         int64
subdivision_lot            object
contact                    object
permit_type                object
permit_subtype             object
ivr_tracking_number         int64
purpose                    object
council_district          float64
residential_commercial     object
type_subtype               object
lat                       float64
lon                       float64
geometry                   object
applic_issued              object
dtype: object

In [5]:
df_area_names.dtypes

zip           int64
area_name    object
dtype: object

In [6]:
# Converting columns to object as needed, for use in Tableau & for merging

df_all['zip'] = df_all['zip'].astype(str)
df_all['ivr_tracking_number'] = df_all['ivr_tracking_number'].astype(str)
df_all['council_district'] = df_all['council_district'].astype(str)
df_area_names['zip'] = df_area_names['zip'].astype(str)
print(df_area_names.dtypes)
print(df_all.dtypes)

zip          object
area_name    object
dtype: object
neighborhood               object
permit_number              object
permit_type_descr          object
permit_subtype_descr       object
parcel                     object
date_entered               object
date_issued                object
construction_cost         float64
address                    object
city                       object
state                      object
zip                        object
subdivision_lot            object
contact                    object
permit_type                object
permit_subtype             object
ivr_tracking_number        object
purpose                    object
council_district           object
residential_commercial     object
type_subtype               object
lat                       float64
lon                       float64
geometry                   object
applic_issued              object
dtype: object

In [7]:
df_all = df_all.merge(df_area_names, on= 'zip')
df_all.head(1)

,neighborhood,permit_number,permit_type_descr,permit_subtype_descr,parcel,date_entered,date_issued,construction_cost,address,city,...,ivr_tracking_number,purpose,council_district,residential_commercial,type_subtype,lat,lon,geometry,applic_issued,area_name
0,Urban Residents,T2017035948,Building Use & Occupancy,"Tents, Stages",9306406200,6/1/2017,NaN,2000.0,1 SYMPHONY PL,NASHVILLE,...,3371589,"(2) 40x80 tents, staked. No sidewall. Going up...",19.0,Other,"TYPE: Building Use & Occupancy SUBTYPE: Tents,...",36.160351,-86.775582,POINT (-86.775582 36.160351),Application,Downtown

In [8]:
#Confirmed that there are no null values in 

df_all.area_name.isnull().sum()

0

In [9]:
df_all.to_csv('../data/cleaned_2/all_apps_and_issued.csv', index = False)
df_all.shape

(32720, 26)

## Ready to go back to Tableau, import updated .csv file, and adjust the visualizations.